
// color defined
$cookie-background-colour: wheat;
$main-red: #e50914;
$sub-red: #db0510;
$sub-green: #18db05;
$sub-blue: #0567db;
$white: #fff;
$grey: #303030;

$icon-background: #c8996b;
$icon-text: #9acefe; //blue
$icon-hover: #8dad4c; //green

$copyright-text: #8b8b93; //lightblue
$copyright-background: #586673; //darkblue
$follow-me-text: #e8c488; //lightorange
